##########################################################
# PTM Simulation file written by SMS 13.2.18 (64-bit)
# SMS Build Date: Aug 16 2023
# Date saved: 11/05/24
# Time saved: 12:50:42
##########################################################
#
# Time ---------------------------------------------------
#
:START_RUN                     1950  1 17  0  0  0
:DURATION                      1209600.000000
:TIME_STEP                     60.000000
:GRID_UPDATE                   30
:FLOW_UPDATE                   1
#
# Files --------------------------------------------------
#
:FLOW_FILE_XMDF                ..\..\flow.h5
:FLOW_FORMAT                   XMDF
:XMDF_VEL_PATH                 Datasets/Overland Velocity
:XMDF_WSE_PATH                 Datasets/wse
:START_FLOW                    1950  1 15  0  0  0
:BC_FILE                       ..\..\bc.h5
:MESH_FILE                     ..\..\mesh.14
:MESH_FORMAT                   ADCIRC
:NEIGHBOR_FILE                 ..\..\neighbor.neighbors
:SEDIMENT_FORMAT               ADCIRC
:SEDIMENT_FILE                 ..\..\native.sediments
:SOURCE_FILE                   ..\..\sedi.source
:OUTPUT_PREFIX                 Output
#
# Computation Methods ------------------------------------
#
:ADVECTION_METHOD              3D
:CENTROID_METHOD               ROUSE
:EULERIAN_METHOD               PTM
:VELOCITY_METHOD               2D (LOGARITHMIC)
:EULERIAN_SED_TRANS            SOULSBY-VAN_RIJN
:NUMERICAL_SCHEME              2
#
# Computation Parameters ---------------------------------
#
:BED_POROSITY                  0.4
:RHOS                          2650
:MIN_DEPTH                     0.01
:TEMPERATURE                   8.62
:KET                           0.25
:SALINITY                      0.476
:KEW                           5
:KEV                           0.00859
:ETMIN                         0
:EVMIN                         0
:CURRENTS
:NO_WAVE_MASS_TRANSPORT
#
# Particle Output ----------------------------------------
#
:OUTPUT_INC                    60
:ELEVATION_OUTPUT
:GRAIN_SIZE_OUTPUT
:ID_OUTPUT
:MOBILITY_OUTPUT
:STATE_OUTPUT
#
# Mapping Output -----------------------------------------
#
:MAPPING_INC                   1000
#
# File Output --------------------------------------------
#
#
# SMS Keywords -------------------------------------------
#
:EMRL_GUID_SOURCE_COV          9f84a4ea-db79-4330-84c5-897d68381f35
:EMRL_PARTICLE_SET_GUID        fc130c8a-e775-4234-9ed0-12c8b026a09e
:EMRL_SHOW_DEFAULT_KEYWORDS    1
:END_DATA
